.backgrond-color{background-color:#ffccdd;}
.Button-color{background-color:#990033;
              color: aliceblue;
              border: none;
              padding:10px 15px;
              border-radius: 6px;}
.watch-color{background-color: #990033;
color: aliceblue;}
.shoes-color{background-color: #ffb3cc;}
.bag-color{background-color: #ffb3cc;}
.shadow-color{box-shadow: 5px 5px 15px #ee5a8b;}


